<footer class="mt-5 mb-5 alert alert-primary">
    <p>Developed by Apps by MW</p>
    <div class="d-flex justify-content-around">
        <a href="https://twitter.com/appsbymw_" target="_blank" class="alert-link"><i class="fab fa-twitter-square"></i> Follow on Twitter</a>
        <a href="https://www.twitch.tv/appsbymw" target="_blank" class="alert-link"><i class="fab fa-twitch"></i> Follow on Twitch</a>
        <a href="https://www.patreon.com/appsbymw" target="_blank" class="alert-link"><i class="fab fa-patreon"></i> Become a Patron</a>
        <span></span>
    </div>
</footer>